.article {
  display: flex;
  justify-content: space-between;
  margin-bottom: 170px;
  align-items: baseline;
  position: absolute;
  width: 100%;

  @media screen and (max-width: 758px) {
    position: relative;
    flex-direction: column;
    display: block;
  }

  .regular.slider {
    @media screen and (min-width: 759px) {
      display: flex;
      align-items: baseline;
    }
  }

  .slick-list {
    @media screen and (max-width: 758px) {
      overflow: visible !important;
    }

    .theme--light & {
      overflow: visible;
    }
  }

  &-wrap {
    height: 550px;
    position: relative;

    @media screen and (max-width: 758px) {
      height: auto;
    }
  }

  &-btn {
    height: 0;
    visibility: hidden;
    overflow: hidden;
    border-radius: 6px !important;

    .btn {
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #2d7bf6;
      background: #eef1f8;
      border-radius: 6px !important;
      padding: 15px 20px;
      width: 100%;
      display: block;
      text-decoration: none;
      margin-top: 50px;
    }
  }

  &-txt {
    font-size: 14px;
    line-height: 20px;
    color: #808190;
    margin-bottom: 0;

    &._hide,
    &._disabled {
      opacity: 0;
      visibility: hidden;
      height: 0;
      overflow: hidden;
    }

    &._hide.active {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }

  &-info {
    margin-top: 30px;

    &_item {
      background: #2b2e38;
      border-radius: 6px;
      padding: 10px 12px;
      margin-bottom: 8px;

      .theme--light & {
        background: #f6f7f9;
      }
    }

    &_lt {
      font-size: 13px;
      line-height: 18px;
      color: #adafc2;
    }

    &_rt {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;

      .Basic & {
        color: #61ccbf;
      }

      .Professional & {
        color: #8d68f5;
      }

      .Professional-more & {
        color: #f75050;
      }
    }
  }

  &-item {
    border-radius: 15px;
    width: 248px !important;
    padding: 25px 20px 30px;
    max-width: 248px;
    margin-right: 5px;

    @media screen and (max-width: 758px) {
      padding: 20px;
      width: 90% !important;
      max-width: 90% !important;
      margin-right: 0;
    }

    &:hover {
      .article-btn {
        height: auto;
        visibility: visible;
        overflow: none;
      }

      .article-txt {
        color: #eef1f8;
      }

      .article-info_item {
        background: #286cd9;
      }

      .article-info_lt,
      .article-info_rt {
        color: #eef1f8;
      }
    }

    &_invest {
      border-radius: 15px;
      padding: 30px;
      page-break-inside: avoid;
      break-inside: avoid;
      margin-bottom: 20px;

      @media screen and (max-width: 758px) {
        padding: 20px;
      }

      &.theme--dark.v-card {
        background: #23262e;
        border: 1px solid #272a33;
        border-radius: 15px;
      }

      .article-name {
        font-weight: 400;
      }
    }

    &_tel {
      margin-bottom: 80px;
    }
  }

  &-item.theme--dark.v-card {
    background: #23262e;
    border: 1px solid #272a33;
    border-radius: 15px;
    transition: all 0.4s;
  }

  &-item:hover.theme--dark.v-card {
    background: #2d7bf6;
    border: 1px solid #2d7bf6;
  }

  &-ttl {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;

    .Basic & {
      color: #61ccbf;
    }

    .Professional & {
      color: #8d68f5;
    }

    .Professional-more & {
      color: #f75050;
    }
  }

  &-subttl {
    font-size: 12px;
    line-height: 16px;
    color: #808190;
  }

  &-count {
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: #eef1f8;
    margin-bottom: 20px;

    .theme--light & {
      color: #474856;
    }
  }

  &-head {
    margin-bottom: 20px;

    &_img {
      margin-right: 20px;
      width: 138px;

      img {
        max-width: 100%;
        border-radius: 14px;
      }
    }
  }

  &-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.01em;
    color: #eef1f8;

    .theme--light & {
      color: #474856;
    }
  }

  &-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    padding: 4px 8px;
    width: 128px;
    height: 22px;
    background: #2d7bf6;
    border-radius: 21px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.5px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

    .theme--light & {
      color: #fff;
    }
  }

  &-bottom {
    margin-top: 30px;

    &_info {
      font-size: 13px;
      line-height: 17px;
      letter-spacing: 0.02em;
      color: #808190;
    }
  }

  &-stock {
    margin-top: 30px;
  }

  &-telegram {
    margin-top: 60px;
  }

  &-invest {
    &_img {
      img {
        max-width: 100%;
        border-radius: 16px;
      }
    }

    &_ttl {
      font-size: 18px;
      line-height: 23px;
      color: #fff;
      margin-bottom: 10px;

      .theme--light & {
        color: #474856;
      }
    }

    &_txt {
      font-size: 16px;
      line-height: 22px;
      color: #abacb8;
      margin-bottom: 35px;

      ul {
        li {
          margin-bottom: 20px;
          list-style-type: none;
          position: relative;

          &::before {
            content: "-";
            position: absolute;
            left: -20px;
          }
        }
      }
    }

    &_video {
      border-radius: 10px;
    }
  }

  &-main {
    &_date {
      font-size: 14px;
      line-height: 18px;
      color: #6a6b79;
    }
  }

  &-pannel {
    .article-link {
      display: inline-block;
      width: auto;
    }

    .v-expansion-panel-header--active .article-link._more {
      display: none;
    }

    .article-link._used {
      display: none;
    }

    .v-expansion-panel-header--active .article-link._used {
      display: block;
    }

    .article-link.v-expansion-panels {
      border-radius: 0;
    }

    .v-expansion-panel {
      background: none !important;
    }

    .v-expansion-panel::before {
      content: none;
    }

    .v-expansion-panel-content__wrap {
      padding: 0;
    }

    .v-expansion-panel-header {
      padding: 0;
      width: auto;
    }

    .v-expansion-panel-header > *:not(.v-expansion-panel-header__icon) {
      flex: inherit;
    }
  }

  &-grid {
    column-count: 2;

    @media screen and (max-width: 758px) {
      column-count: 1;
    }

    &_item {
      display: inline-block;

      @media screen and (max-width: 758px) {
        display: block;
      }
    }
  }
}
