.dialog {
  background: #1e1f26;
  border: 1px solid #272a33;
  border-radius: 15px !important;
  padding: 60px 50px;
  position: relative;

  &.v-card.v-sheet.theme--dark {
    background: #1e1f26;
    border: 1px solid #272a33;
  }

  &.v-card.v-sheet.theme--light {
    background-color: #f6f7f9;
    border: 1px solid #f6f7f9;
  }

  &--acess {
    padding: 20px 18px;
    text-align: center;

    a {
      text-decoration: none;
    }

    p {
      line-height: 20px;
    }
  }

  &--video {
    min-height: 90vh;
  }

  &--load {
    padding: 20px;
    text-align: center;
  }

  &-image {
    height: 400px;

    img {
      max-width: 100%;
      border-radius: 10px;
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &-text {
    h2 {
      font-weight: 600;
      font-size: 26px;
      line-height: 34px;
      color: #fff;
      margin-bottom: 30px;

      .theme--light & {
        color: #474856;
      }
    }

    strong {
      color: #fff;
      font-size: 16px;
      margin-bottom: 10px;

      .theme--light & {
        color: #474856;
      }
    }

    p {
      font-size: 14px;
      line-height: 18px;
      color: #808190;
      margin-bottom: 15px;
    }

    &_review {
      color: #adafc2;
      max-width: 250px;
    }

    &-inner {
      max-width: 282px;
      margin: 0 auto;

      .v-input--is-disabled .v-text-field__details {
        display: none;
      }
    }

    a {
      color: #2d7bf6;
      text-decoration: none;
    }

    &_change {
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      text-align: center;
      color: #eef1f8;
    }
  }

  &-review {
    max-width: 1058px;

    &_name {
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: #eef1f8;
      margin-bottom: 5px;
    }

    &_date {
      font-size: 12px;
      line-height: 16px;
      color: #808190;
    }

    &_video {
      position: relative;
      cursor: pointer;

      img {
        max-width: 100%;
        border-radius: 15px;
      }
    }

    &_video-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
    }

    &_video-close {
      position: absolute !important;
      top: 14px;
      right: 10px;
      z-index: 101;
    }

    &_play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-tariffs {
    background: #1c1d24;
    border: 0.6px solid #272a33;
    border-radius: 15px;

    &.v-card.v-sheet {
      background-color: #1c1d24;
    }

    &_inner {
      padding: 20px;
    }

    &_ttl {
      font-weight: 600;
      font-size: 26px;
      line-height: 34px;
      color: #fff;
      margin-bottom: 18px;
    }

    &_txt {
      font-size: 14px;
      line-height: 18px;
      color: #808190;
    }

    &_bottom {
      margin-top: 26px;
      background: #1a1b21;
      padding: 20px;
    }

    &_date {
      font-size: 13px;
      line-height: 17px;
      color: #adafc2;
    }

    &_price {
      font-size: 14px;
      line-height: 18px;
      color: #eef1f8;
    }

    h3 {
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      color: #eef1f8;
      margin-bottom: 26px;
    }

    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #adafc2;
      margin-bottom: 26px;
    }

    ul {
      li {
        font-size: 14px;
        line-height: 18px;
        color: #808190;
      }
    }
  }

  .v-card__actions {
    position: absolute;
    top: 10px;
    right: 10px;

    .v-btn:not(.v-btn--round).v-size--default {
      height: 30px;
      min-width: 30px;
      padding: 0;
    }

    .theme--dark.v-btn:hover::before {
      opacity: 0;
    }
  }

  .v-card__text {
    padding: 0;
  }
}

.v-dialog {
  max-width: 1024px;
}
