.events {
  &-list {
    margin-bottom: 60px;
  }

  &-item {
    width: 390px;
    background: #23262e;
    border: 1px solid #272a33;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 18px;
    min-height: 120px;
    margin-right: 20px;

    // @media screen and (min-width: 758px) {
    //   min-width: 390px;
    // }
  }

  &-date {
    text-align: center;
    min-width: 90px;

    @media screen and (max-width: 758px) {
      padding-right: 20px;
    }

    &_month {
      display: block;
      font-size: 14px;
      line-height: 110%;
      text-transform: uppercase;
      color: primary;
      font-weight: bold;

      .theme--light & {
        color: #73747e;
      }
    }

    &_day {
      font-size: 46px;
      line-height: 46px;
      text-align: center;
      letter-spacing: -0.03em;
      color: #adafc2;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
    min-height: 80px;

    a {
      text-decoration: none;
    }

    @media screen and (max-width: 758px) {
      padding-left: 15px;
    }
  }

  &-ttl {
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;

    @media screen and (max-width: 758px) {
      padding-right: 0;
    }
  }

  &-name {
    font-size: 13px;
    color: #808190;
    display: flex;
    align-items: center;

    svg {
      margin-right: 5px;
    }
  }

  &-time {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    background: #1b1d23;
    border-radius: 4px;
    color: #2d7bf6;

    .theme--light & {
      background: #f6f7f9;
    }
  }
}
