@import '~/assets/font/font.css';

html,
body,
.v-application {
  font-family: 'SF Pro Display', sans-serif !important;
}

.v-main {
  &__wrap {
    padding: 0;

    .container {
      padding: 0;
    }
  }
}

.base.v-main  {
  .v-main__wrap {
    background: #18191e;

    .theme--light & {
      background-color: #f6f7f9;
    }

    @media screen and (max-width: 758px) {
      padding: 0;
    }
  }
}

.main {
  padding: 0 40px;
  background: #18191e;

  @media screen and (max-width: 758px) {
    padding: 0 25px;
    overflow: hidden;
  }

  .theme--light & {
    background-color: #f6f7f9;
  }
}

.ttl {
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  color: #eef1f8;

  .theme--light & {
    color: #474856;
  }

  @media screen and (max-width: 758px) {
    margin-bottom: 10px;
  }

  h1 {
    font-weight: 600;
    font-size: 36px;

    @media screen and (max-width: 758px) {
      font-size: 32px;
    }
  }

  &--small {
    h1 {
      font-size: 24px;
    }
  }
}

.theme--dark.v-application.landing-page {
  background: #131418;
}

.filter {
  border: 1px solid #272a33;
  border-radius: 6px;
  padding: 0 10px;

  @media screen and (max-width: 758px) {
    height: 30px;
  }

  .theme--light & {
    background: #fff;
    border: 1px solid #fff;
  }

  & + & {
    margin-left: 10px;
  }

  &-txt,
  .v-label {
    font-weight: normal;
    font-size: 13px;
    margin-right: 10px;
  }

  .v-text-field {
    padding-top: 0;
    margin-top: 0;
  }

  .v-text-field__details {
    display: none;
  }

  .v-input {
    font-size: 13px;
  }

  .v-input__slot {
    margin-bottom: 0;
  }

  .v-text-field > .v-input__control > .v-input__slot::before {
    content: none;
  }
}

.theme--dark.v-list {
  color: #6a6b79 !important;
}

.btn-seetoo.v-btn {
  background: #1e1f26;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #2d7bf6;
  margin-top: 30px;
  margin-bottom: 100px;
  height: 50px !important;

  .theme--light & {
    background: #eef0f2;
  }

  .v-btn__content {
    color: #2d7bf6;
    letter-spacing: 0;
    text-transform: none;
  }
}

.subttl {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #808190;
  margin-bottom: 40px;
  max-width: 670px;
}

.label {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #808190;
  margin-bottom: 5px;
  display: inline-block;
}

.link {
  font-size: 13px;
  line-height: 17px;
  color: #2d7bf6 !important;
  text-decoration: none;
  display: flex;
  align-items: center;

  svg {
    margin-right: 5px;
  }
}

.btn {
  color: white;
  font-size: 14px;
  text-transform: none;
  border-radius: 6px;
  padding: 15px 20px;
  letter-spacing: 0;
  box-shadow: none !important;
  font-family: 'SF Pro Text';

  &--invert {
    .v-btn__content {
      color: #2d7bf6;
    }
  }

  .v-btn__content {
    text-transform: none;
    letter-spacing: 0;
  }

  &--logout {
    border: 1px solid #313440;
    border-radius: 6px;
    background-color: #23262e !important;

    &.theme--light {
      background-color: #f6f7f9 !important;
    }
  
    .v-btn__content {
      color: #808190;
    }
  }

  &--edit {
    .v-btn__content {
      color: #2d7bf6;
      opacity: 1;
      text-transform: none;
      letter-spacing: 0.2px;
    }
  }

  &--change {
    padding-left: 0 !important;
    margin-bottom: 28px;

    .v-btn__content {
      color: #2d7bf6;
      opacity: 1;
      text-transform: none;
      letter-spacing: 0.2px;
      text-decoration: underline;
    }
  }

  &--cancel {
    margin-right: 20px;

    .v-btn__content {
      color: #fff;
      opacity: 1 !important;
      text-transform: none;
      letter-spacing: 0.2px;
      font-weight: 400;

      .theme--light & {
        color: #474856;
      }
    }
  }

  &--more {
    .v-btn__content {
      color: #fff;
      opacity: 1 !important;
      text-transform: none;
      letter-spacing: 0.2px;
    }
  }
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot {
  box-shadow: none !important;
}

.v-overlay + .v-application--wrap {
  filter: blur(4px);
}

.v-text-field--solo > .v-input__control > .v-input__slot {
  background: #16171c !important;
  border: 1px solid #272a33;
  border-radius: 6px;
  max-height: 40px;
  font-size: 14px;

  .theme--light & {
    background: #fff !important;
    border: 1px solid #fff;
  }
}

.v-input--switch--inset .v-input--switch__track {
  opacity: 1 !important;
}

.v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
  color: #6a6b79;
}

.landing-page {
  @media screen and (max-width: 758px) {
    overflow-x: hidden;
  }
}

.theme--dark.v-data-table,
.theme--light.v-data-table {
  background: none !important;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: none !important;
}

.mdi-menu-down::before {
  content: "\F0140";
}

.v-select__slot .v-icon.v-icon {
  font-size: 18px;
  color: #6a6b79;
}

.v-select__slot .v-select__selection {
  color: #adafc2;
}

.v-menu__content {
  background-color: #2b2e38;

  .v-list-item {
    min-height: 34px;
  }

  .v-list-item__title {
    color: #adafc2;
    font-size: 13px;
    line-height: 17px;
  }
}

.theme--light .v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: 0px 15px 30px -12px rgba(26, 38, 68, 0.15);
}

.v-application--wrap  {
  .sidebar.v-navigation-drawer {
    @media screen and (min-width: 758px) {
      height: 100vh;
      top: 0px;
      transform: translateX(0%) !important;
      width: 260px;
      max-height: calc(100% - 0px);
      visibility: visible;
    }
  }

  .v-main.base {
    @media screen and (min-width: 758px) {
      padding-left: 260px !important;
    }
  }
}
