.header {
  padding: 45px 40px;
  margin-bottom: 30px;
  position: relative;

  @media screen and (max-width: 758px) {
    padding: 10px 25px;
    margin-bottom: 0;
  }

  .theme--light & {
    background-color: #fff;
  }

  &-avatar {
    margin-right: 40px;

    @media screen and (max-width: 758px) {
      background: #18191f;
      border: 1px solid #1d1f26;
      border-radius: 15px;
      padding: 16px;
      margin: 0 20px 20px;

      .theme--light & {
        background: #f6f7f9;
        border: 1px solid #f6f7f9;
      }
    }

    &_image {
      margin-right: 9px;
      width: 50px;
      height: 50px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &_txt {
      font-size: 14px;
      line-height: 15px;
      letter-spacing: 0.02em;
    }

    &_init {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 22px;
      text-align: center;
      color: #adafc2;
      text-transform: uppercase;
      margin-right: 9px;
      width: 50px;
      height: 50px;
      background-color: #000;
      border-radius: 50%;
    }

    &_subtxt {
      font-size: 13px;
      line-height: 14px;
      color: #6a6b79;
      display: block;
    }
  }

  &-rate {
    position: relative;
  }

  &-rate,
  &-balance {
    margin-right: 40px;

    &_txt {
      font-size: 13px;
      line-height: 20px;
      margin-right: 10px;
    }
  }

  &-refs {
    position: relative;

    &--mycom {
      @media screen and (min-width: 758px) {
        width: 324px;
      }

      form {
        width: 100%;
      }
    }

    .v-text-field--outlined fieldset {
      border-width: 0;
    }

    .v-text-field--outlined.v-input--is-focused fieldset {
      border-width: 0;
    }

    .v-input .v-input__control {
      .v-input__slot {
        min-height: 30px;
        height: 30px;
        margin-bottom: 0;
        background: #18191f;
        border: 1px solid #272a33;
        border-radius: 6px;

        .theme--light & {
          background: #f3f3f3;
          border: 1px solid #f3f3f3;
          color: #9e9ea7;
        }

        input {
          color: #6a6b79;
          font-size: 12px;

          .theme--light & {
            color: #9e9ea7;
          }
        }
      }

      .v-text-field__details {
        display: none;
      }
    }

    &_btn {
      width: 30px;
      height: 30px;
      background: #23262e;
      border-radius: 6px;
      margin-left: 10px;

      .theme--light & {
        background: #f6f7f9;
      }
    }
  }

  &-notifcatns {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    @media screen and (max-width: 758px) {
      padding-right: 40px;
    }

    &_btn {
      display: block !important;

      ._close & {
        display: none !important;
      }

      &._disabled {
        pointer-events: none;
      }
    }

    &_alert {
      display: none !important;

      ._close & {
        display: block !important;
      }
    }

    .v-btn--is-elevated.v-btn--fab {
      box-shadow: none;
    }
  }

  &-tariph {
    background: #402c15;
    border: 1px solid #f7aa50;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #f7aa50;
    text-transform: uppercase;
    cursor: pointer;

    .theme--light & {
      background: #f6f7f9;
    }

    &.Premium {
      border: 1px solid #8d68f5;
      color: #8d68f5;
      background: #241a40;
    }
  }

  &-balance_info {
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 13px;
    color: #61ccbf;
    border: 1px solid #61ccbf;
  }

  &-menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    a {
      display: inline-block;
      margin: 0 20px;
      color: #6a6b79;
      text-decoration: none;
    }
  }

  &-alert {
    &_list {
      position: absolute !important;
      right: 20px;
      top: 100%;
      z-index: 10;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        filter: blur(40px);
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      @media screen and (max-width: 758px) {
        width: calc(100% - 40px);
      }
    }

    &_item {
      box-sizing: border-box;
      box-shadow: 0px 15px 50px -12px rgba(0, 0, 0, 0.25);
      border-radius: 15px !important;
      padding: 12px;
      width: 346px;
      position: relative;

      @media screen and (max-width: 758px) {
        width: 100%;
      }

      .theme--dark & {
        background: #1e1f26 !important;
        border: 1px solid #272a33;
      }
    }

    &_ttl {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.01px;
      color: #eef1f8;
      margin-bottom: 5px;
    }

    &_txt {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.01px;
      color: #adafc2;
    }

    &_date {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #40424e;
    }

    &_close {
      position: absolute;
      left: -30px;
      top: calc(50% + 5px);
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  &-tooltip {
    z-index: 10;

    .article-link {
      color: white;
      margin-top: 20px;
    }

    &.v-alert {
      position: absolute !important;
      padding: 0;
      top: 50px;
      transform: translateX(-50%);
      left: calc(50% + 25px);
    }
  }

  &-tooltip .v-alert__wrapper {
    width: 330px;
    background: #1e1f26;
    border-radius: 10px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #adafc2;
    padding: 15px;
    opacity: 1 !important;
    top: 110px !important;
    left: 80px !important;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 16px solid #1e1f26;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
    }
    
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 16px solid #1e1f26;
      top: -16px;
      transform: translateX(-50%);
      left: 50%;
    }

    span {
      color: #8d68f5;
    }
  }
}
