.header {
  padding: 45px 40px;
  margin-bottom: 30px;

  @media screen and (max-width: 758px) {
    padding: 10px 25px;
    margin-bottom: 0;
  }

  .theme--light & {
    background-color: #fff;
  }

  &-avatar {
    margin-right: 40px;

    @media screen and (max-width: 758px) {
      background: #18191f;
      border: 1px solid #1d1f26;
      border-radius: 15px;
      padding: 16px;
      margin: 0 20px 20px;
    }

    &_image {
      margin-right: 9px;
    }

    &_txt {
      font-size: 14px;
      line-height: 15px;
      letter-spacing: 0.02em;
    }

    &_subtxt {
      font-size: 13px;
      line-height: 14px;
      color: #6a6b79;
      display: block;
    }
  }

  &-rate,
  &-balance {
    margin-right: 40px;

    &_txt {
      font-size: 13px;
      line-height: 20px;
      margin-right: 10px;
    }
  }

  &-refs {
    position: relative;

    .v-input .v-input__control {
      .v-input__slot {
        min-height: 30px;
        height: 30px;
        margin-bottom: 0;
        background: #18191f;
        border: 1px solid #272a33;
        border-radius: 6px;

        .theme--light & {
          background: #f3f3f3;
          border: 1px solid #f3f3f3;
          color: #9e9ea7;
        }

        input {
          .theme--light & {
            color: #9e9ea7;
          }
        }
      }

      .v-text-field__details {
        display: none;
      }
    }

    &_btn {
      width: 30px;
      height: 30px;
      background: #23262e;
      border-radius: 6px;
      margin-left: 10px;

      .theme--light & {
        background: #f6f7f9;
      }
    }
  }

  &-notifcatns {
    text-align: right;
    flex: 1;

    @media screen and (max-width: 758px) {
      padding-right: 40px;
    }
  }

  &-tariph {
    background: #241a40;
    border: 1px solid #241a40;
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 13px;

    .theme--light & {
      background: #f6f7f9;
    }

    &.premium {
      border: 1px solid #8d68f5;
      color: #8d68f5;
    }
  }

  &-balance_info {
    border-radius: 6px;
    padding: 4px 8px;
    font-size: 13px;
    color: #61ccbf;
    border: 1px solid #61ccbf;
  }

  &-menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    a {
      display: inline-block;
      margin: 0 20px;
      color: #6a6b79;
      text-decoration: none;
    }
  }
}
