.landing {
  @media screen and (max-width: 758px) {
    margin-top: 140px;
  }

  &-ttl {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    color: #eef1f8;

    @media screen and (max-width: 758px) {
      font-size: 38px;
      line-height: 46px;
    }

    svg {
      @media screen and (max-width: 758px) {
        width: 100% !important;
      }
    }

    span {
      font-style: italic;
      font-weight: normal;
      color: #2d7bf6;
    }
  }

  &-txt {
    font-size: 20px;
    line-height: 30px;
    color: #abacb8;
  }

  &-subtxt {
    font-size: 20px;
    line-height: 30px;
    color: #6a6b79;
    margin-bottom: 20px;
  }

  &-block {
    margin-bottom: 280px !important;

    @media screen and (max-width: 758px) {
      margin-bottom: 40px !important;
    }

    &.first-block {
      min-height: calc(100vh - 50px);
    }

    &_system {
      margin-bottom: 200px !important;

      @media screen and (max-width: 758px) {
        margin-bottom: 40px !important;
      }

      .landing-txt {
        margin: 0 auto;
        max-width: 345px;
      }
    }

    &_ttl {
      font-weight: 500;
      font-size: 24px;
      line-height: 31px;
      color: #eef1f8;
      margin-bottom: 20px;
    }

    &_txt {
      font-size: 18px;
      line-height: 27px;
      color: #6a6b79;
      max-width: 400px;
    }
  }

  &-ascent {
    background: #2d7bf6;
    border: 1px solid #1d1f26;
    border-radius: 15px;
    padding: 50px 0;
    text-align: center;
    color: white;
    margin-bottom: 350px;

    @media screen and (max-width: 758px) {
      margin-bottom: 40px;
    }

    &_ttl {
      font-size: 28px;
      line-height: 36px;
      font-weight: 600;
      text-align: center;
      color: #eef1f8;
      max-width: 622px;
      margin: 0 auto 30px;
    }
  }

  &-review {
    position: relative;
    margin: 350px 0;
    text-align: center;

    @media screen and (max-width: 758px) {
      margin: 200px 0 50px;
    }

    .btn {
      margin: 0 auto;
    }

    &_item {
      position: absolute;
      width: 307px;
      background: #18191f;
      border-radius: 27px;
      padding: 20px 25px;

      @media screen and (max-width: 758px) {
        position: relative;
        margin-bottom: 80px;
      }

      &::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        background-image: url("../../static/svg/review.svg");
        background-repeat: no-repeat;
        background-size: cover;
        bottom: -34px;
        right: 60px;
      }

      &:nth-child(1) {
        top: -160px;
        left: 9%;

        @media screen and (max-width: 758px) {
          top: 0;
          left: auto;
        }
      }

      &:nth-child(2) {
        top: -210px;
        right: 12%;

        @media screen and (max-width: 758px) {
          top: 0;
          right: 0;
          margin-left: auto;
        }
      }

      &:nth-child(3) {
        top: 36%;
        right: -75px;

        @media screen and (max-width: 758px) {
          top: 0;
          right: auto;
        }
      }

      &:nth-child(4) {
        bottom: -175px;
        left: 44%;

        @media screen and (max-width: 758px) {
          bottom: 0;
          left: auto;
          margin-left: auto;
        }
      }

      &:nth-child(5) {
        top: 58%;
        left: -65px;

        @media screen and (max-width: 758px) {
          top: 0;
          left: auto;
        }
      }
    }

    &_txt {
      font-size: 16px;
      line-height: 24px;
      color: #6a6b79;
      margin-bottom: 5px;
      text-align: left;
      padding-right: 35px;
    }

    &_name {
      font-size: 16px;
      line-height: 24px;
      color: #eef1f8;
      text-align: left;
    }

    &_img {
      position: absolute;
      bottom: 5px;
      right: 5px;
      width: 65px;
      height: 75px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &_wrap {
      &:nth-child(even) {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &-table {
    background: #18191f;
    border-radius: 32px 0 0 32px;
    padding: 60px;
    margin-right: -80px;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 758px) {
      margin-right: 0;
      background: none;
      padding: 0;
      border-radius: 0;
    }

    &_ttl {
      font-size: 24px;
      line-height: 31px;
      color: #eef1f8;
    }

    .logo {
      width: 140px;
    }
  }

  &-main_image {
    // position: absolute;
    // top: calc(50% + 50px);
    // transform: translateY(-50%);
    // animation-direction: alternate;
    // animation-duration: 2s;
    // animation-iteration-count: infinite;
    // animation-name: inky-hover;
    // animation-timing-function: ease-in-out;
    // left: auto;
    // right: 5%;

    @media screen and (max-width: 758px) {
      position: static;
      top: 0;
      transform: none;
      max-width: 100%;
      animation-name: none;
    }
  }

  .table {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 577px;
      height: 577px;
      border-radius: 50%;
      background: #2d7bf6;
      z-index: 0;
      top: -40px;
      left: -20px;

      @media screen and (max-width: 758px) {
        content: none;
      }
    }
  }

  .v-lazy {
    img {
      @media screen and (max-width: 758px) {
        max-width: 100%;
      }
    }
  }
}

.v-main__wrap {
  @media screen and (max-width: 758px) {
    padding: 0 25px;
  }
}

@keyframes inky-hover {
  from {
    margin-top: 0;
  }

  to {
    margin-top: -25px;
  }
}
