.login {
  .v-text-field--solo > .v-input__control > .v-input__slot {
    background: #16171c !important;
    border: 1px solid #272a33;
    border-radius: 6px;
    max-height: 40px;
    font-size: 14px;
  }

  .v-text-field--solo.error--text > .v-input__control > .v-input__slot {
    border: 1px solid red;
  }

  .v-text-field__details {
    min-height: 0;
    margin-bottom: 0;
  }

  .v-text-field.v-text-field--enclosed .v-text-field__details {
    margin-bottom: 0;
  }

  .v-text-field.v-text-field--enclosed .v-text-field__details .error--text {
    margin-bottom: 8px;
  }

  &-password {
    position: relative;

    &_btn {
      position: absolute;
      right: 12px;
      top: 15px;
      text-decoration: none;
      font-size: 12px;
      line-height: 16px;
      color: #eef1f8;
      cursor: pointer;
    }
  }

  .v-label {
    font-size: 14px;
  }

  .v-input--selection-controls__input {
    font-size: 12px;
  }

  &-bottom {
    font-size: 13px;
    color: #eef1f8;
  }

  &-refer {
    text-align: center;
  }
}
