.mycomand {
  &-main {
    &_ttl {
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.01em;
      color: #eef1f8;
      margin-bottom: 8px;

      .theme--light & {
        color: #474856;
      }
    }

    &_txt {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #808190;
      margin-bottom: 20px;
    }

    &_count {
      font-weight: 500;
      font-size: 28px;
      line-height: 36px;
      color: #eef1f8;
      display: flex;
      align-items: center;

      .theme--light & {
        color: #474856;
      }

      svg {
        margin-right: 7px;
      }
    }
  }

  &-ttl {
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: #eef1f8;
    margin-bottom: 30px;

    .theme--light & {
      color: #474856;
    }
  }

  &-avatar {
    margin-right: 15px;

    &_txt {
      font-size: 22px;
      font-weight: 600;
    }
  }

  &-name {
    font-size: 16px;
    line-height: 21px;
    color: #eef1f8;

    .theme--light & {
      color: #474856;
    }

    &_nick {
      display: block;
      color: #2d7bf6;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
