.sidebar {
  .v-list {
    padding: 0 20px;
  }

  &-balance {
    margin: 50px 20px;
    background-color: #23262e;
    padding: 30px 24px;
    border: 1px solid #272a33;
    border-radius: 15px;
    text-align: center;
    min-width: 220px;

    .theme--light & {
      background-color: #f6f7f9;
      border: 1px solid #f6f7f9;
    }

    &_ttl {
      color: #eef1f8;
      font-size: 16px;
    }

    &_count {
      font-weight: 600;
      font-size: 64px;
      color: #61ccbf;
    }

    &_txt {
      color: #808190;
      font-size: 13px;
      line-height: 130%;
      margin-bottom: 30px;
    }
  }

  &-footer {
    padding: 0 20px;
  }

  &-menu {
    position: absolute;
  }

  &-head {
    width: 100%;
    justify-content: space-between;
    padding-right: 20px;

    @media screen and (max-width: 758px) {
      padding-left: 20px;
    }
  }
}

.v-application--is-ltr .v-input--switch.v-input--is-dirty .v-input--switch__thumb {
  background: #fff !important;
  color: #fff !important;
}
